<%- include("../../views/partials/admin/header") %>




<style>
  

  .pagination-container {
    text-align: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
  }

  .pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 4px;
  }

  .pagination li {
    display: inline-block;
  }

  .pagination a,
  .pagination .page-link {
    display: inline-block;
    padding: 5px 12px;
    margin: 0;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
  }

  .pagination .active .page-link {
    background-color: #088178;
    color: white;
    border-color:  #088170;
  }

  .pagination a:hover {
    background-color: #f5f5f5;
  }

 .error-message {
    color: red;
  }


</style>




<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Brands</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <form method="post" action="/admin/addBrand" enctype="multipart/form-data" id="bandform">
            <div class="mb-4">
              <label for="product_name" class="form-label">Brand Name</label>
              <input
                type="text"
                name="name"
                placeholder="Type here"
                class="form-control"
                required
              />
            </div>
             <div class="mb-4">
             <label for="product_name" class="form-label">Offer(%)</label>
              <input
                type="number"
                name="offer"
                placeholder="Type here"
                class="form-control"
              />
            </div>
            <label for="product_name" class="form-label">Brand Image</label>
            <div class="input-upload">
              <img src="" alt="" id="uploadImage"/>
              <input class="form-control border" id="inputFile" name="image" type="file" onchange="viewImage(event)" />
            </div>

            <div class="input-upload" style="display: none;"> 
               <img id="cropImage">
               <button class="btn btn-sm btn-info" type="button" id="cropBtn">Crop</button>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary mt-20" type="submit">
                Add Brand
              </button>
            </div>
          </form>
        </div>

        <!-- display band -->
       
        <div class="col-md-7 ml-105 ">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th>Logo</th>
                  <th>Offer</th>
                  <th>Status</th>
                  <th>Block/Unblock/Delete</th>
                </tr>
              </thead>
              <tbody>
               
                  <% for(let i=0;i<data.length; i++){ %>
                    <tr> 
                  <td class="text-start"><%= data[i].name %></td>
                  <td class="text-start">
                    <div
                      class="d-flex align-items-center justify-content-center"
                      style="
                        width: 60px;
                        height: auto;
                        border-radius: 50%;
                        overflow: hidden;
                      "
                    >
                      <img
                        src="<%= data[i].image%>"
                        alt="product logo"
                        class="img-fluid rounded-circle"
                        style="width: 100%; height: auto"
                      />
                    </div>
                  </td>
                  <!--      offer -->
                 <td class = "text-start">    <%=data[i].offer ? data[i].offer +" %" : "null" %> 

                  </td>
                  <td class="text-start">
                    <%if(data[i].status !== 'active'){ %>
                    <span
                      class="badge rounded-pill alert-danger"
                      style="width: 60px"
                      >Blocked
                    </span>
                    
                     <% } else { %>
                    <span
                      class="badge rounded-pill alert-success"
                      style="width: 60px"
                      >Active</span
                    > 
                    <%}%>
                  </td>
                  <td class="text-start">
                    <%if(data[i].status == 'active'){ %>
                    <button class="btn btn-warning" style="width: 90px">
                      <a href="/admin/addBrand/block/<%= data[i]._id %>" class="text-white">Block</a>
                    </button>   
                      <% } else { %>
                    <button class="btn btn-success" style="width: 90px">
                      <a href="/admin/addBrand/unblock/<%= data[i]._id %>" class="text-white">Unblock</a> 
                    </button>
                         <%}%>


                          <!-- edit button Modal -->
                  
        
           <button type="button" class="btn btn-md btn-warning text-dark" style="width: 90px" data-bs-toggle="modal" 
            data-bs-target="#editBrandModal<%=data[i]._id%>" >
                    Edit
          </button>
                    <button
                      class="btn btn-danger"
                      style="width: 90px"
                      onclick="deleteBrand('<%=data[i]._id%>')" > 
                         Delete
                    </button>
                  </td>
                  </tr>
                            
                 
                  <%}%>
                
              </tbody>
            </table>
          </div>

         
         


        </div>
      </div>  
    </div>
  
      
  </div>  

  
 
      <div class="pagination-container"> 
               
           <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
         
               <% if (currentPage > 1) { %>
                   <% if (currentPage > 2) { %> 
                    <li class="page-item">
                      <a class="page-link" href="?page=1">First</a>
                    </li>
                    <% } %>
                  <li class="page-item">
                      <a class="page-link" href="?page=<%= currentPage - 1 %>">Prev</a>
                  </li>
               <% } %>

                   <% 
                      let startPage = Math.max(1, currentPage - 1);  
                      let endPage = Math.min(totalPages, startPage + 3);  

                      if (endPage - startPage < 3) {
                         startPage = Math.max(1, endPage - 3);  
                       }
                    %>

                   <% for (let i = startPage; i <= endPage; i++) { %>
                      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                      </li>
                   <% } %>

                    <% if (endPage < totalPages) { %>
                        <li class="page-item disabled">
                           <span class="page-link">...</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= totalPages %>"><%= totalPages %></a>
                        </li>
                     <% } %>
                    
                     <% if (totalPages > currentPage) { %> 
                            
                              <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                              </li>
                            
                      
                     <% } %>

              </ul>
            </nav>
           
       </div>

   <!-- edit brand model -->
   
        <%data.forEach((brand, index)=>{ %>
     
    <div class="modal fade" id="editBrandModal<%=brand._id%>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    <form action="/admin/addBrand/edit/<%=brand._id%>" method="POST" class="modal-content" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title">Edit Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <h6>Name</h6>
        <input type="text" name="name" value="<%=brand.name%>" id="editName<%=index%>" class="form-control" required />
      </div>

      
      <div class="modal-body">
        <h6>Offer</h6>
        <input type="text" name="offer" value="<%=brand.offer%>" id="editOffer<%=index%>" class="form-control" />
      </div>

     <label for="product_name" class="form-label">Brand Image</label>
           <div class="input-upload">
            <img src="<%=brand.image%>" alt=""/ id="viewEditImage<%=index%>">
             
            </div>
             <label> 
               <h5 class="btn btn-sm btn-light"> Change Image</h5>
             
            <input class="form-control border d-none" name="image" type="file" id="editInputFile<%=index%>" onchange="viewEditImage(event,'<%=index%>')" />
             </label>
            <div class="input-upload" style="display: none;"> 
               <img id="cropEditImage<%=index%>">
             <button class="btn btn-sm btn-info" type="button" id="editCropBtn<%=index%>">Crop</button>
            </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="editData('<%=brand._id%>' , '<%=index%>')">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>

<%})%>




</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

<script>
 
 document.getElementById('bandform').addEventListener('submit',validate)
 
async function validate(e){
    e.preventDefault();

    const name = document.getElementsByName('name')[0].value;
    const offer= document.getElementsByName('offer')[0].value;
    const image = document.getElementsByName('image')[0].files[0]

    const formData = new FormData();
    formData.append('name', name);
    formData.append('offer', offer);
    formData.append('image', image);
  


    try {
    const response = await fetch("/admin/addBrand",{
              method:'post',
              body: formData
    })

    const data = await response.json();
     
     if(data.success){
          Swal.fire("Brand Added", "Brand Added Successfully","success").then(()=>{
            window.location.href = "/admin/addBrand"
          })
         
          
        } else {
          Swal.fire("Failed",data.message || "Brand already exists","error");
        }
    
      
    } catch (error) {

       Swal.fire("Failed",'Internal server error','error')
    }


 }

//  document.getElementById('editBandform').addEventListener('submit',editdata)

 async function editData(brandId,index){
  

    const name = document.getElementById('editName'+index).value;
    const offer= document.getElementById('editOffer'+index).value;
    const image = document.getElementById('editInputFile'+index).files[0]


    const formData = new FormData();
    formData.append('name', name);
    formData.append('offer', offer);
    formData.append('image', image);
  

    const response = await fetch( `/admin/addBrand/edit/${brandId}`,{
              method:'post',
  
              body: formData
    })

    const data = await response.json();
     
     if(data.success){
          Swal.fire("Success", data.message || "Brand edited Successfully","success").then(()=>{
            window.location.href = "/admin/addBrand"
          })
         
          
        } else {
          Swal.fire("Failed",data.message || "Something went wrong","error");
        }
    
  }


 

 function deleteBrand(id){

     Swal.fire({
      title:"Are you sure?",
      text:"Do you want to delete this brand?",
      icon:"question",
      showCancelButton: true,
       confirmButtonColor: '#d33',
       cancelButtonColor: '#aaa',   
       confirmButtonText: 'Yes, delete'      
     }).then(result=>{
        if(result.isConfirmed){
            window.location.href=`/admin/addBrand/delete/${id}`;
        }
     })
 }


 function viewImage(event)  {

           const input = event.target;
           const reader = new FileReader();

              reader.onload = function () {

               let dataURL = reader.result;
               let image = document.getElementById('cropImage');
                 image.src = dataURL;

               let cropContainer = image.parentNode;
                cropContainer.style.display = 'inline-block';

               if(image.cropperInstance){
                  image.cropperInstance.destroy()
               }
             

               let cropper = new Cropper(image, {
                   aspectRatio: 440/240,
                   viewMode: 1,
                   guides: true,
                   background: false,
                   autoCropArea: 0.8,
                   zoomable: true
               });
               
                image.cropperInstance = cropper;
               
                const cropBtn = document.querySelector('#cropBtn');
                const viewImage = document.getElementById('uploadImage')
              
               cropBtn.addEventListener('click',  function () {
                             
                   let croppedCanvas = cropper.getCroppedCanvas();         
                    const croppedDataURL  = croppedCanvas.toDataURL('image/jpeg', 1.0);
                   let timestamp = new Date().getTime();
                   let fileName = `cropped-img-${timestamp}.png`;
                   

                   croppedCanvas.toBlob(blob => {

                       let inputField = document.getElementById('inputFile')
                       let imgFile = new File([blob], fileName, {type: "image/png"});

                       const fileList = new DataTransfer();
                       fileList.items.add(imgFile);
                       inputField.files = fileList.files
                      cropContainer.style.display = 'none'
                       cropper.destroy();
                       image.cropperInstance = null;
                        viewImage.src = croppedDataURL;
                   } , "image/png");
                   
               });
           };
       reader.readAsDataURL(input.files[0]);
       input.value='';
   
    }

//   function viewEditImage(event , index)  {

//    const input = event.target;
//    const reader = new FileReader();


//    reader.onload = function () {
//      const dataURL = reader.result;
//        document.getElementById('editUploadImage'+index).src  = dataURL;
//    } 
//    reader.readAsDataURL(input.files[0]);
   
//  }

  
function viewEditImage(event , index) {

           let input = event.target;
           let reader = new FileReader();

           reader.onload = function () {
               let dataURL = reader.result;
               let image = document.getElementById('cropEditImage'+index);
                 image.src = dataURL;

               let cropContainer = image.parentNode;
                cropContainer.style.display = 'inline-block';

               if(image.cropperInstance){
                  image.cropperInstance.destroy()
               }
             

               let cropper = new Cropper(image, {
                   aspectRatio: 440/240,
                   viewMode: 1,
                   guides: true,
                   background: false,
                   autoCropArea: 0.8,
                   zoomable: true
               });
               
                image.cropperInstance = cropper;
               
                const cropBtn = document.querySelector('#editCropBtn'+index);
                const viewImage = document.getElementById('viewEditImage'+index)
              
               cropBtn.addEventListener('click',  function () {
                             
                   let croppedCanvas = cropper.getCroppedCanvas();         
                    const croppedDataURL  = croppedCanvas.toDataURL('image/jpeg', 1.0);
                   let timestamp = new Date().getTime();
                   let fileName = `cropped-img-${timestamp}-${index}.png`;
                   

                   croppedCanvas.toBlob(blob => {

                       let inputField = document.getElementById('editInputFile'+index)
                       let imgFile = new File([blob], fileName, {type: "image/png"});

                       const fileList = new DataTransfer();
                       fileList.items.add(imgFile);
                       inputField.files = fileList.files
                      cropContainer.style.display = 'none'
                       cropper.destroy();
                       image.cropperInstance = null;
                        viewImage.src = croppedDataURL;
                   } , "image/png");
                   
               });
           };
           reader.readAsDataURL(input.files[0]);
           input.value='';
       }

</script>



<%- include("../../views/partials/admin/footer") %>

