
<head>
    <link rel="stylesheet" href="/css/productStyles.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
       a {
        text-decoration: none;
        color: black;
       }
       .discount {
           color: #4caf50;
           font-size: 14px;
           font-weight: 600;
          }
          
          ul{
             list-style-type: disc !important;
              margin-left:1em;
            
          }
          
    </style>
</head>
<%-include("../partials/user/header")%>
<body>
    <main class="container">
        <!-- Hero Banner -->
        <section class="hero-banne">
            <img src="/images/unisex-banner.jpg" alt=""> <br>
            <div class="hero-text"><%=categoryName?  categoryName: 'All Products'%></div>
        </section>

        <%-include("../partials/user/breadcrum")%>

        <div class="content-wrapper">
            <!-- Sidebar Filters -->
            <aside class="sidebar">
                <div class="filter-section">
                    <h3>Categories</h3>

                  
                    <% categories.forEach(category=> { %> 
                     <div class="category-group">
                     <a href="/product/<%=category.name%>" > <h4><%=category.name.toUpperCase() %>  <% if(categoryName == category.name) { %>
                              <i class="fas fa-chevron-right"></i> 
                            <% } %>    </h4> </a>
                       
                          <ul class="list-unstyled"> 
                              <% category?.subcategories.forEach(subcat=>{ %> 
                             <a href="/product/<%=category.name%>?sub=<%=subcat.name%>">
                              
                                  <li class="mb-2">
                                 
                                 
                                   <span class=" fs-6 <%= category.name === categoryName && sub ==  subcat.name ? 'fw-bold text-primary' : 'fw-medium text-dark' %>">
                                   <%= subcat.name %>
                                  </span>
                                  </li>             

                            </a>
                            <% }) %>      
                          </ul>               

                                   
                    </div>
                   
                     <%})%>
                    
            </div>

            

          <!-- <form  action="/product/<%=categoryName%><%= sub? '?sub='+sub : ''%><%=search ? (sub ? '&' : '?' ) + 'q='+ search : '' %> " id="filterForm"> -->

              <form  action="/product/<%=categoryName%>" id="filterForm">
 
            <input type="hidden" value="<%=sub%>" name="sub">     
  <!-- Price Range Filter -->
  <label>Price:</label>
  <select name="price" onchange="document.getElementById('filterForm').submit()">
    <option value="">All</option>
    <option value="0-499" <%= locals.price === '0-499' ? 'selected' : '' %>>Below ₹500</option>
    <option value="500-999" <%= locals.price === '500-999' ? 'selected' : '' %>>₹500 - ₹999</option>
    <option value="1000-1999" <%= locals.price === '1000-1999' ? 'selected' : '' %>>₹1000 - ₹1999</option>
    <option value="2000+" <%= locals.price === '2000+' ? 'selected' : '' %>>Above ₹2000</option>
  </select>

  <!-- Sort Options -->
  <label>Sort by:</label>
  <select name="sort" onchange="document.getElementById('filterForm').submit()">
    <option value="">Default</option>
    <option value="priceLow" <%= locals.sort === 'priceLow' ? 'selected' : '' %>>Price: Low to High</option>
    <option value="priceHigh" <%= locals.sort === 'priceHigh' ? 'selected' : '' %>>Price: High to Low</option>
    <option value="nameAZ" <%= locals.sort === 'nameAZ' ? 'selected' : '' %>>Name: A-Z</option>
    <option value="nameZA" <%= locals.sort === 'nameZA' ? 'selected' : '' %>>Name: Z-A</option>
  </select>
</form>






            </aside>

            <!-- Product Grid -->
          <section class="container my-4">
  <div class="row">
    <% if(products.length < 1 ) { %>  
          <h4 class="text-center">No product found!</h4>
      
      <%} else{ %>
    <% products.forEach(function(product) { %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <a href="/productDetails/<%= product._id %>" class="text-decoration-none text-dark">
            <img src="<%= product.image[0] %>" class="card-img-top" alt="<%= product.name %>">
            <div class="card-body">
              <h6 class="card-subtitle text-muted mb-1"><%= product?.brand_id?.name %></h6>
              <h5 class="card-title mb-2"><%= product.product_name %></h5>

              <div class="mb-2">
                <% for (let i = 0; i < 5; i++) { %>
                  <% if (i < Math.floor(product.averageRating)) { %>
                    <span class="text-warning">★</span>
                  <% } else { %>
                    <span class="text-secondary">☆</span>
                  <% } %>
                <% } %>
                <small class="text-muted">(<%= product.ratingCount %>)</small>
              </div>

              <div class="mb-2">
                <strong class="text-danger">₹<%= product.final_price?.toLocaleString() %></strong>
                <% if (product.final_price !== product.regular_price) { %>
                  <span class="text-muted text-decoration-line-through">₹<%= product.regular_price?.toLocaleString() %></span>
                <% } %>
                       <span class="discount"><%= Math.round(parseFloat(1 - product.final_price/product.regular_price) * 100) %>% off</span>
              </div>
            </a>
              <button class="btn btn-outline-dark w-100 addToCart-btn" data-id="<%=product._id%>" > ADD TO CART</button>
            </div>
          
        </div>
      </div>
    <% }) %>
    <% } %>
  </div>
</section>
            

   </div>
        
              

        <!-- Pagination -->
        <div class="pagination">   
          
     
               <% if (currentPage > 1) { %>          
             
                      <a href="?page=<%= currentPage-1%><%=sub? '&sub='+sub : ''%><%=price? '&price='+price : ''%><%=sort? '&sort='+sort : ''%>" class="prev-page"><i class="fas fa-chevron-left"></i></a>
                  
               <% } %>

                   <% 
                      let startPage = Math.max(1, currentPage - 1);  
                      let endPage = Math.min(totalPages, startPage + 3);  

                      if (endPage - startPage < 3) {
                         startPage = Math.max(1, endPage - 3);  
                       }
                    %>

                   <% for (let i = startPage; i <= endPage; i++) { %>
                  
                          <a href="?page=<%=i%><%=sub? '&sub='+sub : ''%><%=price? '&price='+price : ''%><%=sort? '&sort='+sort : ''%> " class="page-number <%=(i === currentPage) ? 'active' : '' %>" ><%= i %></a>
                   
                   <% } %>

                    <% if (endPage <  totalPages) { %>
                  
                           <span class="page-link ">...</span>                   
                            <a class="page-link" href="?page=<%= totalPages %><%=sub? '&sub='+sub : ''%><%=price? '&price='+price : ''%><%=sort? '&sort='+sort : ''%>"><%= totalPages %></a>
                     
                     <% } %>
                    
                     <% if (totalPages > currentPage) { %>                       
                              
                                  <a href="?page=<%= currentPage+1%><%=sub? '&sub='+sub : ''%><%=price? '&price='+price : ''%><%=sort? '&sort='+sort : ''%>" class="next-page"><i class="fas fa-chevron-right"></i></a>
                                                                      
                     <% } %>



        </div>
    </main>

    <script src="/script.js"></script>

<%-include("../partials/user/footer")%>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script> 

     
 document.querySelectorAll('.addToCart-btn').forEach(button => {
    button.addEventListener('click', async function () {
      const productId = this.dataset.id;

   
   const response = await fetch(`/addToCart/${productId}`,{
         
        method: 'POST',
        headers: { 'Content-Type': 'application/json' }
   })

 const data = await response.json();


      if (data.success) {
        Swal.fire({        
         icon: "success",
          title: "Item added to Cart ",
          showConfirmButton: false,
            timer: 1200,
             willClose: () => {
                window.location.reload();
             }

        })
    
      }else {
        Swal.fire({
           icon: "error",
            title: data.message || "something went wrong",
            showConfirmButton:false, 
            timer:1200, 
             willClose: () => {
              window.location.reload();
             }
        })
      }

 })
 });



</script>
   
</body>
</html>