

<%-include("../partials/user/header")%>
 <head>
  <style>
        a {
          text-decoration: none;
        }
         .discount {
           color: #4caf50;
           font-size: 14px;
           font-weight: 600;
          }
        
          /* Initial hidden state */
      .fade-up {
         transform: translateY(60px); 
         transition: 600ms ease;
         opacity:0;

        }

    /* When visible */
   .fade-up.show {
        transform: translateY(0);
        opacity: 1; 
     }

     

  
    .hideFooter{
       opacity: 0;
    }
  

  </style>
 </head>

    <!-- banner -->
   
    
       <section>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousal">

         
          <div class="carousel-indicators">
             <% banner.forEach((b,i)=> { %> 
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= i %>" class="<%= i=== 0 ? 'active' : '' %>" aria-current="<%= i === 0 ? 'true' : 'false' %>" aria-label="Slide <%= i + 1%>"></button>
             <% }) %>
          </div>


          
          <div class="carousel-inner">
              <% banner.forEach((b,i)=> { %> 
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="3000">
            <a href="<%= b.link%>" > <img src="<%=b.banner_img%>" class="d-block w-100" alt="..."> </a>
              <div class="carousel-caption d-none d-md-block">               
             </div>
            </div>
              <% }) %>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </section>


      <!-- breadcrum -->
  <section class="container">   
     <a href="/">Home</a>
  </section>
      <!-- category section -->
<section>
      <div class="container py-5">
        <h3 class="text-center mb-4">Categories</h3>
    
        <div class="row justify-content-center">

    
          <% category.forEach(cat=> { %> 
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center mb-4">
           <a href="/product/<%=cat.name%>">  <div class="text-center border p-3 rounded bg-white category-card">
              <img src="<%=cat?.category_image%>" alt="img..." class="category-image" />
              <h6 class="fw-semibold small"><%=cat.name%></h6>
            </div> </a>
          </div> 
          <% }) %>
       
        
        </div>
      </div>



     
</section>

<!-- middle banner -->

<section>
  <div class="container">
          
    <img src="/uploads/banner-images/middle-banner.jpg" width="100%" height="400rem">
             
  </div>

</section>


<!-- product section -->

 <section id="productSection"> 


    <div id="displayProduct" class="fade-up"></div>


</section>

<%-include("../partials/user/footer")%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script> 

document.addEventListener('DOMContentLoaded',function(){ 

   const observer1 = new IntersectionObserver((entries)=>{
      if(entries[0].isIntersecting){
    
          fetchProduct();

           observer1.unobserve(document.getElementById("productSection"))
      }
    } , { })

  

 const loadProduct = document.getElementById("productSection");
     observer1.observe(loadProduct);

  
    
   let product;
   let category;
   let displayedCategory = 1;
   let isLoading = false;

    const observer = new IntersectionObserver((entries)=>{

      if(!entries[0].isIntersecting || isLoading) return    
       
       displayProduct();

      
         entries[0].target.classList.add("show");
          

       observer.unobserve(entries[0].target);



      } , { threshold:0.3})

      

   const productElement = document.getElementById("displayProduct");
   


  async function fetchProduct(){
     
    try{ 
        const res = await fetch("/loadhomepageProduct");
        const data = await res.json();   
        product = data.product;
        category = data.category;
        observer.unobserve(loadProduct);

        if(data){ 
           observer.observe(productElement)
        }

    } catch(error){
      
       loadProduct.style.textAlign = 'center';
       loadProduct.style.fontSize = "1.7rem";
       loadProduct.style.color = 'red';
       loadProduct.style.fontWeight = 'bold';
       loadProduct.textContent = "Unable to load products, try again later";
    }

  }

     async function displayProduct() {
     
     try{ 
      
        let catlength = parseInt(category.length);
        const loadProduct = document.getElementById('loadProduct');
  
         if(displayedCategory <= catlength) { 
                 
            isLoading = true;

              const maindiv = document.createElement('div');
              maindiv.className = 'container pt-5 fade-up';
            
              
               const catName = document.createElement('h3');
               catName.classList.add('text-center');
               catName.classList.add('mb-4');
               catName.textContent = category[catlength-displayedCategory].name;

               const productdiv = document.createElement('div');
               productdiv.className = 'row g-4 justify-content-center';
  
        let plen = 1;
        product.forEach((prd,i)=>{ 
                
                 if(plen < 5){ 
                  if(prd.category_id?.name?.toLowerCase() === category[catlength-displayedCategory].name.toLowerCase()){ 
            
                  const productmaindiv = document.createElement('div');
                   productmaindiv.className = 'col-6 col-sm-4 col-md-3';

                    const productcardDiv = document.createElement('div');
                     productcardDiv.className = 'card product-card p-3 shadow-sm';
                      const wishlistSpan = document.createElement('span');
                       const wishlisticon = document.createElement('i');
                       wishlisticon.className = 'fa-regular fa-heart wishlist-icon wishlist-btn';
                       wishlisticon.dataset.id = prd._id;
                      wishlistSpan.appendChild(wishlisticon);

                   const productLink = document.createElement('a');
                    productLink.href = `/productDetails/${product[i]._id}`;
                    
                     const productImg = document.createElement('img');
                      productImg.src = prd.image[0];
                      productImg.alt = prd.product_name;
                      productImg.className = 'product-image mx-auto'
                      
                     const productdetailsdiv = document.createElement('div');
                      productdetailsdiv.className = 'card-body text-center';
                       const productname = document.createElement('h6');
                       productname.className = 'card-title';
                       productname.textContent = prd.product_name;
                      
                       const productratingdiv = document.createElement('div');
                         productratingdiv.classList.add('mb-2');
                          
                            for(let j = 0 ; j < 5 ; j++){
                               if(j < Math.floor(product[i].averageRating)){
                                  const filledstardiv = document.createElement('span');
                                   filledstardiv.classList.add('text-warning');
                                   filledstardiv.textContent = '★';
                                 productratingdiv.appendChild(filledstardiv);
                               } else {
                                  const unfilledstardiv = document.createElement('span');
                                   unfilledstardiv.classList.add('text-secondary');
                                   unfilledstardiv.textContent = '☆';
                                  productratingdiv.appendChild(unfilledstardiv);
                               }
                                  
                            }
                                
                             const smallElement = document.createElement('small');
                              smallElement.classList.add('text-muted');
                              smallElement.textContent = '('+product[i].ratingCount+')';
                             productratingdiv.appendChild(smallElement);
                           
                      
                      const pricedetails = document.createElement('p');
                       pricedetails.classList.add('mb-1');
                       pricedetails.classList.add('price');
                       pricedetails.textContent = ''+product[i].final_price;
                         
                         const originalPrice = document.createElement('span');
                          originalPrice.classList.add('original-price');
                          originalPrice.textContent = product[i].regular_price;
                         const discountPrice = document.createElement('span');
                          discountPrice.classList.add('discount');
                          discountPrice.textContent = Math.round(parseFloat(1 - product[i].final_price/product[i].regular_price)*100) +'% off';

                         pricedetails.appendChild(originalPrice);
                         pricedetails.appendChild(discountPrice);


                    productdetailsdiv.appendChild(productname);
                    productdetailsdiv.appendChild(productratingdiv);
                    productdetailsdiv.appendChild(pricedetails)

                   productLink.appendChild(productImg);
                   productLink.appendChild(productdetailsdiv); 
                
               const addtocartBtn = document.createElement('button');
                addtocartBtn.className = 'btn btn-outline-dark btn-sm w-100 mt-2 addToCart-btn'
                addtocartBtn.dataset.id = product[i]._id;
                addtocartBtn.textContent = 'Add to Cart';
           
              productcardDiv.appendChild(wishlistSpan);
              productcardDiv.appendChild(productLink);
              productcardDiv.appendChild(addtocartBtn);

              productmaindiv.appendChild(productcardDiv);
              productdiv.appendChild(productmaindiv);

                plen++
               }
               
              }
             })
               
            const viewAlldiv = document.createElement('div');
              viewAlldiv.className = 'text-center mt-4';
              const elementA = document.createElement('a');
               elementA.href = `/product/${category[catlength-1].name}`
               const viewAllbtn = document.createElement('button');
                 viewAllbtn.className = 'btn btn-outline-dark px-5 py-2';
                 viewAllbtn.style.borderRadius = 0;
                 viewAllbtn.textContent = 'View All';
                elementA.appendChild(viewAllbtn);
                viewAlldiv.appendChild(elementA);
                
            maindiv.appendChild(catName);
            maindiv.appendChild(productdiv);
            maindiv.appendChild(viewAlldiv);
            productElement.appendChild(maindiv);

            const displayProductDiv = document.getElementById("displayProduct");
            const lastSection = displayProductDiv.lastElementChild;
             observer.observe(lastSection);

         
             displayedCategory++;
             isLoading=false;



         } else {
            const footer = document.querySelector('footer');
        
            footer.classList.remove('hideFooter');
            observer.disconnect();
         }


         // to add tocart and wishlist buttons

         document.querySelectorAll('.addToCart-btn').forEach(button => {
    button.addEventListener('click', async function () {
      const productId = this.dataset.id;

   
   const response = await fetch(`/addToCart/${productId}`,{
         
        method: 'POST',
        headers: { 'Content-Type': 'application/json' }
   })

 const data = await response.json();


      if (data.success) {
        Swal.fire({        
         icon: "success",
          title: "Item added to Cart ",
          showConfirmButton: false,
            timer: 1200,

        })
    
      }else {
        Swal.fire({
           icon: "error",
            title: data.message || "something went wrong",
            showConfirmButton:false, 
            timer:1200, 
            
        })
      }

 })
 });

  const wishlistButtons = document.querySelectorAll('.wishlist-btn');

  wishlistButtons.forEach(button => {
    button.addEventListener('click', async function () {
      const productId = this.getAttribute('data-id');
     
      
   const response = await fetch(`/addToWishlist/${productId}`,{
         
        method: 'POST',
        headers: { 'Content-Type': 'application/json' }
   })

    const data = await response.json();


      if (data.success) {
        Swal.fire({        
         icon: "success",
          title: "Item added to wishlist ",
          showConfirmButton: false,
            timer: 1200,

        })
    
      }else {
        Swal.fire({
           icon: "error",
            title: data.message || "something went wrong",
            showConfirmButton:false, 
            timer:1200, 
            
        })
      }

 })
 });
            
       
         
     
    } catch(error){
       console.log('error in loading products', error);
    }
    
  }

  


})


</script>


